<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>FlutterDeepLinkingEnabled</key>
  <false/>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>vrcn</string>
        </array>
    </dict>
  </array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)VRCN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>abuki</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>abuki</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>aihuru</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aihuru</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>annobu</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>annobu</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>enadori</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>enadori</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>hare</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hare</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>kazkiller</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>kazkiller</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>le0yuki</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>le0yuki</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>masukawa</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>masukawa</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>miyamoto</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>miyamoto</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nullkalne</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nullkalne</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>r4in</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>r4in</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rea</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rea</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>roize</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>roize</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vrcn_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vrcn_icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vrcn_logo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vrcn_logo</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>etoeto</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>etoeto</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pampy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pampy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>yume</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>yume</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundleIcons~ipad</key>
		<dict>
			<key>abuki</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>abuki</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>aihuru</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aihuru</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>annobu</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>annobu</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>enadori</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>enadori</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>hare</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hare</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>kazkiller</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>kazkiller</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>le0yuki</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>le0yuki</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>masukawa</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>masukawa</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>miyamoto</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>miyamoto</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nullkalne</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nullkalne</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>r4in</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>r4in</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rea</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rea</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>roize</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>roize</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vrcn_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vrcn_icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vrcn_logo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vrcn_logo</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>etoeto</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>etoeto</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pampy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pampy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>yume</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>yume</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>vrchat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>アプリへのアクセスを安全に保つために生体認証を使用します</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
